<div class="login-container">
  <mat-card class="login-card">

    <mat-card-header>
      <mat-card-title>Welcome Back</mat-card-title>
      <mat-card-subtitle>Please sign in to continue</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />

          @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <mat-error>Email must contain &#64;</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />

          @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <mat-error>Minimum 6 characters required</mat-error>
          }
        </mat-form-field>

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid"
          class="login-btn"
        >
          Login
        </button>

      </form>
    </mat-card-content>

    <mat-card-actions>
      <span class="register-text">Don’t have an account?</span>
      <button mat-button color="primary" (click)="goToAddDriver()">
        Register
      </button>
    </mat-card-actions>

  </mat-card>
</div>
